@import '../../variables/variables.scss';

.container {
    
}

.btn {
    padding: 15px;
    border-radius: 5px;
    background-color: $blue;
    font-size: 28px;
    color: $white;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
        

    &:hover {
        cursor: pointer;
        
    }

    & span {
        position: relative;
        padding-left: 40px;
    }

    & span::before {
        position: absolute;
        top: 0;
        left: 0;
        content: url('../../assets/img/turn_off.svg');
    }
}
