@import '../../variables/variables.scss';

.btn {
    padding: 15px;
    border-radius: 5px;
    background-color: $blue;
    font-size: 28px;
    color: $white;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);

    &:hover {
        cursor: pointer;
        
    }

    & span {
        position: relative;
        padding-left: 40px;
    }

    & span::before {
        position: absolute;
        top: 0;
        left: 0;
        content: url('../../assets/img/turn_off.svg');
    }
}

.dialog {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    padding: 15px 25px;
    border-radius: 25px;
    background-color: $green;
    color: $white;
    font-size: 20px;

    &__bold {
        font-weight: 600;
    }
}

.appear {
    animation: appearance 1s;
    -webkit-animation: appearance 1s;
    -moz-animation: appearance 1s;
    -o-animation: appearance 1s;
}


.disappear {
    animation: disappearance 1s;
    -webkit-animation: disappearance 1s;
    -moz-animation: disappearance 1s;
    -o-animation: disappearance 1s;
}

@keyframes appearance {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes appearance {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes appearance {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes appearance {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes disappearance {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@-webkit-keyframes disappearance {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@-moz-keyframes disappearance {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@-o-keyframes disappearance {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
